#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list li {
  display: inline-block;
  margin-right: 10px;
}
a{
    text-decoration:none;
    color:black;
}
section {
  display: none;
}

:target {
  display: block;
}
#form{
  display: flex;
  align-items: center;
  justify-content: center;
}
#prices {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 10px;
}
.price {
  flex-basis: 30%;
  margin: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.iframediv{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}

iframe {
  /* Additional iframe styles (optional) */
  bordzer: none; /* Example to remove border */
}
