* {
  box-sizing: border-box;
  text-align: justify;
}

body {
  color: #4d4e53;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}

code{
  color:#ffffff;
  background-color:#1B3A80;
}

#navbar {
  position: fixed;
  width: 300px; /* This is the width of the navbar */
  height: 100%;
}

.nav-list li {
  list-style-type: none;
}

.nav-link {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
}

#main-doc {
  margin-left: 300px;
  padding: 20px;
}

.main-section {
  display: none;
}

:target {
  display: block;
}
#content-li{
  list-style-type: none;
}
#listing-types{
  list-style-type:decimal;
}
