#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list li {
  display: inline-block;
  margin-right: 10px;
}
a{
    text-decoration:none;
    color:black;
}
section {
  display: none;
}

:target {
  display: block;
}
#form{
  display: flex;
  align-items: center;
  justify-content: center;
}
